<div class="row">
  <div class="col-sm-12">
    <h1>{{title}}</h1>
    <h3>{{"The Data variable " +title }}</h3>
    <h4>{{"My Name is "+name }}</h4>
    <h4>{{name}}{{Salary}}{{Flag}}</h4>
    <hr/>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1>{{Numbers[0]+","+Numbers[2]+","+Numbers[4]+","+Numbers[6]+","+Numbers[8]}}</h1>
        <h1>{{Numbers[1]+","+Numbers[3]+","+Numbers[5]+","+Numbers[7]}}</h1>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-sm-12">
        <h3>{{"Cricket Players: "+Players[0]+","+Players[1]+","+Players[2]+","+Players[3]+","+Players[4]}}</h3>
      </div>
    </div>
    <hr/>
    <div class="row" style="margin-left: 20px;">
      <div class="col-sm-12">
        <table class="table-bordered">
          <thead>
           <tr>
            <th>Department Number</th>
            <th>Dept Name</th>
            <th>Location</th>
           </tr>
          </thead>
          <tbody>
           <tr>
            <td>{{Dept[0].deptno}}</td>
            <td>{{Dept[0].dname}}</td>
            <td>{{Dept[0].location}}</td>
           </tr>
           <tr>
            <td>{{Dept[1].deptno}}</td>
            <td>{{Dept[1].dname}}</td>
            <td>{{Dept[1].location}}</td>
           </tr>
           <tr>
            <td>{{Dept[2].deptno}}</td>
            <td>{{Dept[2].dname}}</td>
            <td>{{Dept[2].location}}</td>
           </tr>
           <tr>
            <td>{{Dept[3].deptno}}</td>
            <td>{{Dept[3].dname}}</td>
            <td>{{Dept[3].location}}</td>
           </tr>
           <tr>
            <td>{{Dept[4].deptno}}</td>
            <td>{{Dept[4].dname}}</td>
            <td>{{Dept[4].location}}</td>
           </tr>
          
          
           <tr>
            <td>{{Dept1.deptno}}</td>
            <td>{{Dept1.dname}}</td>
            <td>{{Dept1.location}}</td>
           </tr>
        
          </tbody>

        </table>
      </div>
    </div>

  

